<h1> Update your Information </h1>

<% unless @update_worked %>
  <div id="errors">
    <h3>ERRORS!</h3>
    <ul>
    <% @user.errors.messages.each do |field,error| %>
      <li><strong><%= "#{field.capitalize}: #{error.first}!" %></strong></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= @type = "update" %>

<%= render "userform", local: {@type: type} %>