<h1> Create a new User </h1>

<% if @user.id == nil %>
  <div id="errors">
    <h3>ERRORS!</h3>
    <ul>
    <% @user.errors.messages.each do |field,error| %>
      <li><strong><%= "#{field.capitalize}: #{error.first}!" %></strong></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= @type = "create" %>

<%= render "userform"%>